{% extends "base.html" %}
{% block content %}



 <!-- Bootstrap Table with Header - Light -->
 <div class="card">
    <h5 class="card-header">Guest/Room folio</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>Guest name</th>
            <th>Phone</th>
            <th>Room</th>
            <th>City</th>
            <th>checkindate</th>
            <th>checkoutdate</th>
            <th>Invoice</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">

            {%for data in invoice_data%}
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{data.customer.guestname}}</strong></td>
            <td>{{data.customer.guestphome}}</td>
            <td><i class='bx bx-home-heart mb-1 text-warning'></i> {{data.customer.roomno}}</td>
            <td>
              {{data.customer.guestcity}}
            </td>
            <td><span class="badge bg-label-primary me-1">{{data.customer.checkindate}}</span></td>
            <td><span class="badge bg-label-primary me-1">{{data.customer.checkoutdate}}</span></td>
            <td><a class="btn btn-primary" href="{% url 'invoicepage' id=data.customer.id %}">Folio</a></td>
            
          </tr>
          {%endfor%}
   
        
        </tbody>
      </table>
    </div>
  </div>
  <!-- Bootstrap Table with Header - Light -->

{%endblock%}